var filterTime = function (time,format) {
  // 实例化时间对象
  var dt = getDate(time) 
 
  // 获取当前年份
  var year = dt.getFullYear() 
 
  // 获取当前月份
  var month = dt.getMonth() + 1 >= 10 ? dt.getMonth() + 1 : '0' + (dt.getMonth() + 1)  
 
  // 获取当前日
  var days = dt.getDate() >= 10 ? dt.getDate() : '0' + dt.getDate() 
 
  // 获取当前小时
  var hour = dt.getHours() >= 10 ? dt.getHours() : '0' + dt.getHours()
 
  // 获取当前分 
  var min = dt.getMinutes() >= 10 ? dt.getMinutes() : '0' + dt.getMinutes() 
 
  // 获取当前秒
  var s = dt.getSeconds() >= 10 ? dt.getSeconds() : '0' + dt.getSeconds() 
 if(format == 'yyyy-MM-dd'){
   return year + '年' + month + '月' + days+'日'
 }
  // 返回时间字符串
  return year + '年' + month + '月' + days+'日' + ' ' + hour + ':' + min 
}
 
// 这里因为wxs只支持es5语法, 所以只能用module.exports
module.exports = {
  formatTime: filterTime
}